$light: 300;
$regular: 400;
$bold: 900;


$font-stack: 'Roboto', sans-serif;
$font-titulo: 'Playfair Display', serif;

$xx-large: 4.3rem;
$x-large: 2.8rem;
$large: 1rem;
$medium: 1rem;

h1 {
 font-family: $font-titulo;
 font-weight: $bold; 
 font-size: $xx-large;
 font-style: italic;
}

p {
 color: $nickel;
 text-align: justify;
 font-size:$large;
 font-family: $font-stack;
}